@import url("../backup/backup.css");

body {
    position: relative;
    background-image: url("../images/2.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: -16% 124%;
    overflow-x: hidden;
}

section {
    margin: 8% 4% 0 5%;
}

.stbg2 {
    position: absolute;
    top: -2%;
    right: -25%;
    animation: rotation 200s infinite linear;
    z-index: -1;
}

.stbg3 {
    position: absolute;
    top : -15%;
    left: -18%;
    z-index: -1;
}

.stbg1 {
    position: absolute;
    top: -8%;
    right: -25%;
    animation: rotationinvers 200s infinite linear;
    z-index: -1;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes rotationinvers {
    from {
        transform: rotate(359deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.main {
    width: 60%;
    color: var(--textColor);
}

.mmc_title {
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 5%;
}

.mmc_desc {
    margin-bottom: 10%;
}

.button {
    text-decoration: none;
    padding: 0.4em 2.9em;
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
}


.join {
    background-color: var(--buttonsColor);
    color: var(--principleColor);
    margin-right: 5%;
}

.join:hover {
    opacity: 0.75;
}

.activities {
    padding: 0.3em 2em;
    border: 0.1em solid var(--buttonsColor);
    color: var(--buttonsColor);
}

.activities:hover {
    opacity: 0.5;
}

.Dayarticle {
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
    align-items: center;
}

.Dayarticletitle {
    color: var(--buttonsColor);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2%;
}

.article {

    color: var(--textColor);
    width: 65%;
    text-align: center;
    font-style: italic;

}

.readmore {
    list-style: none;
    color: var(--buttonsColor);
}

.readmore:hover {
    opacity: 0.7;
}

/*for smartphones users*/
@media (max-width: 650px) {
    .main {
        width: 100%;
    }

    .mmc_title {
        font-size: 2em;
    }

    .button {
        padding: 0.2em 1em;
    }

    .Dayarticle {
        margin-top: 10vh;
    }
    .Dayarticletitle {
        font-size: 25px;
    }

    .article {
        width: 95%;
    }
    .stbg1, .stbg2, .stbg3 {
        display: none;
    }
}